<div id="blurred-image-container">
  <div class="img-src"></div>
  <div class="img-src blurred-image"></div>
</div>
<div class="banner">
  <div class="blur">
    <h1>Puppies. <br>Cute puppies.</h1>
  </div>
</div>
<div class="banner-small">
AirPups is a bespoke puppy renting service that believes puppy-love should be shared.
Make sure you are prepared... for your heart to melt.
</div>
