// Specific CSS for your home-page
.flex-container {
  display: flex;
  background-color: #FFFFFF;
}

.logout-profile-flex {
  display: flex;
}

#spacer {
  margin-right: 10px;
}

.left-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 0 0 50vw;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  position: relative;
 }


.carousel-item1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FFDF37;
}

.carousel-item1 img {
  height: 500px;
}

.carousel-item2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #EE6352;
}
.carousel-item2 img {
  height: 300px;
  margin-bottom: 20px;
}

.carousel-item3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FF8B37;
}
.carousel-item3 img {
  height: 300px;
}
.carousel-item4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #57A4FF;
}
.carousel-item4 img {
  height: 300px;
}
.carousel-item5 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FF576B;
}
.carousel-item5 img {
  height: 300px;
}

.box {
  display: flex;
  background-color: #E8E8E8;
  margin-left: 100px;
  margin-right: 100px;
  padding: 15px;
  padding: 15px;
  border-radius: 4px;
  margin-top: 18px;
  width: 70%;
}

.box .form-inline {
      width: 100%;
 display: flex;
 justify-content: space-between;
}

.box .form-control {
    // display: block;
    // width: 100%;
    font-size: 18px;
    line-height: 1.428571429;
    color: #919193;
     transition: background-color ease-in-out 0.15s;
    background-color: transparent;
    border: none;
    // padding: 13px 16px;
    box-shadow: none;
    border-bottom: 3px solid #919193;
    border-radius: 4px;
      width: 120%;

}
.box .form-control:focus {
    display: block;
    width: 120%;
    // padding: 6px 16px;
    font-size: 18px;
    line-height: 1.428571429;
    color: #919193;
    background-color: rgba(236, 100, 86, 0.1);
    border-radius: 4px;
    border-bottom: 3px solid #EE6352;
    transition: background-color ease-in-out 0.15s;
    box-shadow: none;
}

.right-section h2 {
 margin: 0 ;
 margin-bottom: -30px;
 color: rgb(245,245,245);
}

.right-section h3 {
 margin-top: 20px ;
 margin-bottom: -30px;
 color: white;
}
.right-section p {
  font-size: 26px;
  font-weight: lighter;
  padding: 60px;
  color: rgb(245,245,245);
}

.left-section h3 {
  margin-left: 75px;
  margin-right: 75px;
}
.left-section h1 {
  font-size: 51px;
}

#fp-nav a span {
  background: #919193;
}

#fp-nav a.active span {
  background: #EE6352;
}

.links {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 55px;
  line-height: 55px;
  vertical-align: center;
  margin-left: 10px;
  a {
    color: #919193;
    text-decoration: none !important;
  }
  a:hover {
    color: #EC6456;
  }
  a:after {
    display:block;
    content: '';
    border-bottom: 2px solid #EC6456;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  a:hover:after {
    transform: scaleX(1);
  }
}
