.flex-container-lt {
  display: flex;
  justify-content: space-between;
  padding: 5px 40px 40px 40px;
  background-color: rgb(245,245,245);

}

.lt {
  height: calc(100vh - 55px);
  background-color: rgb(245,245,245);

}

.original-header {
    padding: 15px 15px 0px 40px;
}
.original-header h4 {
  font-size: 14px;
  color: rgb(150,150,150);
  font-weight: lighter;
}
.original-header h3 {
 margin-top: 0px;
 margin-bottom: 30px;
  color: rgb(51,51,51);
  font-weight: bolder;
  font-size: 30px;
}

// .lt h2 {
//   color: rgb(51,51,51);
//   background-color: white;
//   padding: 20px 0px 20px 0px;
//   width: 25%;
//   margin: 0 auto;
//   margin-bottom: 25px;
//   text-align: center;
//   box-shadow: 0px 0px 6px 1px rgb(200,200,200);
// }
.original {
  text-align: left;
  width: 45vw;
  height: 56vh;
  overflow: scroll;
  padding: 10px 15px 15px 40px;
  font-size: 13px;


}
.original-container {
  background-color: white;
  box-shadow: 0px 0px 6px 1px rgb(200,200,200);
  margin-top: 20px;
}

.student-container {
  background-color: rgb(245,245,245);
  margin-top: -15px;
}

.student {
  text-align: left;
  width: 45vw;
  height: 80vh;
  overflow: scroll;
  font-size: 13px;
  padding: 15px;
}

.section-whole { display: flex;
  text-decoration: none;
  background-color: white;
  box-shadow: 0px 0px 6px 1px rgb(200,200,200);
  margin: 20px 20px 0px 20px;
  // padding: 15px 0px 15px 40px;
    transition: all 0.2s;

// flex-wrap: wrap;
}

.section-text{
    width: 100%;
  padding: 20px 20px 20px 40px;

}

.section-text p {
  color: rgb(51,51,51);
    text-decoration: none;

}

.student a {
text-decoration: none;
color: rgb(51,51,51)
}


.section-whole:hover {
  border-left: 8px solid #EE6352;
  .tooltiptext { visibility: visible;
  }

}


.tick {
  background-color: transparent;
  // width: 20px;
  border-radius: 60%;
  color: #4FC3A0;
  border: solid 2px transparent;
  transition: all 0.5s;
  position: absolute;
  right: -10px;
  top: 5px;
  height: 30px;
  width: 30px;
}

.tick:focus {
   outline: none;
}

.tick:hover {

border: solid 2px #4FC3A0
}


.student form textarea {
text-decoration: none;
  background-color: white;
  box-shadow: 0px 0px 6px 1px rgb(200,200,200);
  margin: 20px 20px 0px 20px;
  padding: 20px 20px 20px 40px;
    border-left: 8px solid #EE6352;
    transition: all 0.2s;
     resize: both;
  border: none;
  width: 93%;
  height: 300px;
}

.student form textarea:focus {
  text-decoration: none;
  background-color: white;
  box-shadow: 0px 0px 6px 1px rgb(200,200,200);
  margin: 20px 20px 0px 20px;
  padding: 20px 20px 20px 40px;
    border-left: 8px solid #EE6352;
    transition: all 0.2s;
    outline: none;

}


.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(51,51,51, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    right: -10px;
}

.tooltiptext:hover {
    visibility: visible;
}

.translate-button {
  display: flex;
  justify-content: center;
}
