// .form-inputs {
//   display: flex;
//   justify-content: space-around;
//   padding-top: 70px;
// }

.btn-sexy {
    margin: 20px;
    opacity: .4;
    color: black;
}

.btn-sexy:hover {
  opacity: .8;
}


.field{
  color: black;
}

