<% @documents.each do |t| %>
 <div class="assignment">
       <div class="doc-name">
         <%= link_to edit_document_section_path(t, t), id: "preview_#{t.id}", class: "preview_link" do %>
        <%= t.title %>
        <%= cl_image_tag t.pdf.file.public_id, format: :jpg, density: 300, class: 'files-image' %>
        <% end %>
       </div>
    <div class="status">
      <% if t.original_content == "True" %>
      <div class="complete">
        <%= t.original_content %>
      </div>
      <% else %>
      <div class="to-do">
      </div>
      <% end %>
    </div>
 </div>
<% end %>
