  <div class="banner-sad">
    <div class="story-banner-content">
        <h1>Why so serious?</h1>
    </div>
  </div>

<div class="banner-happy">
  <div class="story-banner-content">
      <h1>When with AirPups you could be...</h1>
  </div>
</div>

<div class="container">
<h1>There's a reason why puppies are desperate for attention.</h1>
<h3>Change your life. Learn to love.</h3>
<p>Here at AirPups we believe that every puppy should have the best start to life possible. A puppy's personality is formed in the first two years of it's life and it's critical during this period to ensure the puppy abosrbs as much love and joy it can in order to optimise it's chance of a long, healthy and most importantly, HAPPY life. </p>
  <div class="story-flex-box">
    <div class="card-sad">
        <div class="story-banner-content">
          <h1>Sad.</h1>
        </div>
    </div>
    <div class="card-happy">
        <div class="story-banner-content">
            <h1>Happy.</h1>
        </div>
    </div>
  </div>

<p><i>Our mission from day one was to ensure that no puppy ever goes unloved again.</i> </p>
<p><strong>-Marcus Rapacioli</strong></p>
<p>Founder and puppy lover.</p>
<div>
  <h3>Borrow a puppy and set it up for life.</h3>
  <p>Guilty of leaving your puppy at home all day? Tired of cleaning up after him/her? With AirPups you can let someone else take care of these issues for you whilst earning great money at the same time.</p>
</div>
    <div class="story-flex-box">
      <div class="card-puppy">
      </div>
    </div>
<div>
<%= link_to "Borrow a puppy", puppies_path, class: "form-btn-story center-block" %>
</div>

