/* Main navbar */
.navbar-wagon-trans {
  background: transparent;
  transition: all 0.3s ease;
  height: 55px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-wagon-white {
  background: white;
  transition: all 0.3s ease;
  height: 55px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// body {
// background-color: white
// }

.nav-link {
font-size: 15px;
text-decoration: none;
color: #919193;
border-bottom: 2px solid transparent;
padding-bottom: 10px;
}

.nav-link:hover, .nav-link-underlined {
  text-decoration: none;
  color: #EE6352;
  border-bottom: 2px solid #EE6352;
}

/* Logo */

.live-translate-root {
  height: 45px;
  line-height: 45px;
  vertical-align: center;
  margin-left: 10px;
  a {
    color: #919193;
    text-decoration: none !important;
    font-size: 15px;
  }
  a:hover {
    color: #EC6456;
  }
  a:after {
    display:block;
    content: '';
    border-bottom: 2px solid #EC6456;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  a:hover:after {
    transform: scaleX(1);
  }
}

.nav-selected {
  height: 45px;
  line-height: 45px;
  vertical-align: center;
  margin-left: 10px;
  a {
    color: #EC6456;
    display:block;
    content: '';
    border-bottom: 2px solid #EC6456;
    text-decoration: none !important;
    font-size: 15px;
  }
}
    // display: table-cell;
    // vertical-align: middle;
    // text-align: center;
    // height: 45px;
    // width: 45px;

// #show-icon {
//   color: #919193;
//   padding: 10px;
//   border: 2px solid transparent;
//   border-radius: 50%;
// }

// #show-icon:hover {
//   text-decoration: none;
//   color: #EE6352;
//   border: 2px solid #EE6352;
// }

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.fa-bars {
  color: white;
}

.drop-link {
  color: #2A2D30;
}

.drop-link:hover {
  opacity: 0.5;
  text-decoration: none;
}
