.profile-banner {
  background-color: #EC6456;
  text-align: center;
  height: 100px;
  // object-fit: cover !important;
  background-size: cover !important;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  vertical-align: top;
}
